#winner {
  font-weight: bold;
  color: rgb(106, 253, 106);
}

#looser {
  color: rgb(255, 105, 105);
}

#draw {
  color: rgb(216, 216, 216);
}

a:link{
  color: white;
}

a:visited{
  color: white;
}